<div class="dashboard-container">
    <div class="dashboard-grid">
      <div class="dashboard-item">
        <img src="assets/img/customer.png">
        <h2>Customers</h2>
        <p>Total: <span id="total-customers">{{ totalCustomers }}</span></p>
        <button mat-raised-button color="primary" routerLink="/customers">Click to View Details</button>
      </div>
      <div class="dashboard-item">
        <img src="assets/img/address.png" alt="Address Icon">
        <h2>Addresses</h2>
        <p>Total: <span id="total-addresses">{{ totalAddresses }}</span></p>
        <button mat-raised-button color="primary" routerLink="/addresses">Click to View Details</button>
      </div>
    </div>
  </div>
  